<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW TODAY</title>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>
<body>
    <h1>Today News</h1>
    <img src="{% static 'images/newslogo1.jpg'%}" alt=""/>
    <ul class="list">
        <li><a href="\business">Business</a></li>
        <li><a href="\movies">Movies</a></li>
        <li><a href="\sports">Sports</a></li>
    </ul>

</body>
</html>