<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <h1> Today {{type}} News :</h1>
    <ul class="list">

       <li><h2>{{msg1}}</h2></li> 
        <li><h2>{{msg2}}</h2></li>
    </ul>

    {% if type == 'Business' %}
    <img src="{% static 'images/business1.jpg'%}" alt="">
    <img src="{% static 'images/business2.jpeg'%}" alt="">
    <img src="{% static 'images/business3.webp'%}" alt="">

    {%elif type == 'Movies' %}
    <img src="{% static 'images/movies1.jpg'%}" alt="">
    <img src="{% static 'images/movies2.jpg'%}" alt="">
    <img src="{% static 'images/movies2.jpg'%}" alt="">

    {%elif type == 'Sports' %}
    <img src="{% static 'images/sports1.jpg'%}" alt="">
    <img src="{% static 'images/sports2.jpg'%}" alt="">
    <img src="{% static 'images/sports3.webp'%}" alt="">
    {% else %}
    <p> Sorry!! No News Available... </p>
    {% endif %}
</body>

</html>