<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<hr>
    <center><h1>This is a Sports Journal </h1></center>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, nesciunt rem obcaecati magni vero veniam laborum, ut minus minima consequuntur sequi consequatur? Illum cumque ipsam itaque consequuntur eveniet tempore esse architecto cupiditate, ut neque! Natus cum sequi, expedita error nostrum quis saepe dolor laboriosam perferendis unde ut doloremque atque vel obcaecati commodi fugiat minus consectetur culpa officia eligendi, doloribus aperiam eius similique nulla. Corporis perferendis modi aliquid numquam aut facere eum, repellendus repudiandae itaque, aspernatur fuga velit a ducimus natus praesentium suscipit. Tenetur nulla neque, quasi, perspiciatis mollitia numquam enim aliquid ratione ipsam minima eaque pariatur magnam nisi dolores rerum?</p>
   <hr/>
    {%block main%}
    <button type="button"><a href="{% url 'cricket' %}" >CRICKET</a></button>
    <button type="button"><a href="{% url 'football' %}">FOOTBALL</a></button>
    <button type="button"><a href="{% url 'hockey' %}">HOCKEY</a></button>
    {%endblock%}
</body>
</html>