<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hockey</title>
</head>
<body>
    {%extends 'index.html'%}
    {%block main%}
    <button type="button"><a href="http://127.0.0.1:8000/">HOME</a></button>
    <button type="button"><a href="{% url 'cricket' %}">CRICKET</a></button>
    <button type="button"><a href="{% url 'football' %}">FOOTBALL</a></button>
    <center><h1>Hockey</h1></center>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ducimus impedit nobis nisi, saepe repellendus unde laborum ipsa. Fugiat cupiditate eveniet aut fugit veniam dignissimos qui enim ullam, consequuntur porro sint accusantium dolorem, autem pariatur sunt laborum nisi cum? Doloremque est quis sapiente voluptatum, sequi ad quam, fugit rerum ab dolorum dignissimos, soluta quasi perspiciatis nulla? Pariatur eveniet animi et id aut. Deserunt veniam, facere est vel mollitia nihil porro nesciunt saepe qui, veritatis a officia exercitationem dolores provident laudantium praesentium voluptatibus reiciendis suscipit tenetur eos unde, odio expedita laborum. Similique nihil eos quae quisquam voluptas a dolore asperiores doloremque?</p>
    {%endblock%}
    {%block hockey%}
    {%endblock%}
</body>
</html>