<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forms</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <center><h1>ARTICLE</h1></center>
    <section>
        <form class="form" rules="all" action="" method="POST">
        {%csrf_token%}
        <br />
        <label name="title">Title:</label><br /><br />
        <input type="text" name="title" id="title" /><br /><br />
        <label name="desc">Description:</label><br /><br />
        <textarea class="text" name="desc"></textarea><br /><br />
        <center>
          <button class="btn" type="submit">Submit</button>
        </center>
      </form>
    </section>
      <a class="btn1" href="{%url 'article'%}">
        <center>
          <button>ALL-ARTICLES</button>
        </center>
      </a>
  </body>
</html>
